.farm_activities {
  select {
    padding: 5px 5px 5px 10px;
    border: 1px solid #e8e8e8;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0,0,0,.65);
    width: 80%;
    max-width: 100%;
    border-radius: 5px;
  }
}
