@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.mapping {
  .mapping-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 20px;
    .unique-id {
      @include font(Nunito Sans, normal, 800, 18px, #373d42);
    }
    .mapping-dropdowns {
      margin: 10px 0px;
    }
    .css-mhc70k-MuiGrid-root > .MuiGrid-item {
      padding-right: 16px;
      padding-left: 0px;
    }
    .css-trb05-MuiFormLabel-root-MuiInputLabel-root {
      color: white;
    }
    .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
      color: white;
    }
  }
  .insight-container {
    margin-top: 30px;
    width: 100%;
    .map-details {
      .history {
        margin-top: 50px;
        .history-top {
          @include font(Nunito Sans, normal, 700, 16px, #373d42);
        }
      }
      .weather-forecast {
        display: flex;
        flex-direction: column;
        margin: 30px 0px;
        .first-weather-container {
          display: flex;
          justify-content: space-between;

          
          .forecast-today {
            .forecast-top {
              @include font(Nunito Sans, normal, 700, 16px, #373d42);
              margin-bottom: 20px;
            }
            .forecast-date {
              @include font(Nunito Sans, normal, 600, 14px, #6c757d);
              margin: 5px 0px;
            }
            .weather {
              @include font(Nunito Sans, normal, 700, 15px, #f29b17);
              display: flex;
              align-items: center;
            }
            .forecast-today-details {
              display: flex;
              justify-content: space-between;
              .detail {
                display: flex;
                flex-direction: column;
                .detail-name {
                  @include font(Nunito Sans, normal, 700, 15px, #373d42);
                }
                .detail-value {
                  @include font(Nunito Sans, normal, 600, 14px, #6c757d);
                }
              }
            }
          }
          .forecast-hourly {
            .hourly-top {
              @include font(Nunito Sans, normal, 700, 14px, #373d42);
            }
            .forecast-hourly-container {
              display: flex;
              justify-content: space-between;
              .hourly-wrapper{
                margin: 0px 10px;
                .hourly-time{
                  @include font(Nunito Sans, normal, 600, 15px, #6C757D);
                }
                .hourly-degree{
                  @include font(Nunito Sans, normal, 600, 13px, #6C757D);
                }
                .hourly-percent{
                  @include font(Nunito Sans, normal, 600, 12px, #6C757D);
                }

              }
            }
          }
        }
        .second-weather-container {
          margin: 40px 0px;
          .second-weather-container-top {
            @include font(Nunito Sans, normal, 700, 14px, #373d42);
          }
          .second-weather-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .second-weather-detail{
              display: flex;
              flex-direction: column;
              align-items: center;
              .detail-day{
                @include font(Nunito Sans, normal, 600, 13px, #373D42);
              }
              .detail-date{
                @include font(Nunito Sans, normal, 600, 13px, #373d42);
              }
              .detail-degree{
                @include font(Nunito Sans, normal, 600, 13px, #6C757D);
              }
              .detail-percent{
                @include font(Nunito Sans, normal, 600, 12px, #6C757D);
              }
            }
          }
        }
      }
    }
    .insight-details {
      .select-layer {
        .select-top {
          @include font(Nunito Sans, normal, 700, 18px, #373d42);
        }
        .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
          @include font(Nunito Sans, normal, 600, 16px, #6c757d);
        }
      }
      .result-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        .result {
          @include font(Nunito Sans, normal, 700, 18px, #373d42);
        }
        .result-status {
          @include font(Nunito Sans, normal, 700, 18px, rgba(249, 9, 9, 0.83));
        }
      }
      .action-wrapper {
        .action-top {
          @include font(Nunito Sans, normal, 700, 16px, #373d42);
          margin: 10px 0px;
        }
        .action-details {
          display: flex;
          justify-content: space-between;
          margin: 20px 0px;
          .details-name {
            @include font(Nunito Sans, normal, 600, 16px, #6c757d);
          }
          .details-status {
            @include font(
              Nunito Sans,
              normal,
              600,
              14px,
              rgba(20, 182, 167, 0.75)
            );
            background: rgba(246, 255, 237, 0.4);
            border: 0.6px solid rgba(20, 182, 167, 0.75);
            border-radius: 12px;
            width: 71px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .fail {
            background: rgba(249, 9, 9, 0.16);
            border: 0.6px solid #f90909;
            color: rgba(249, 9, 9, 0.83);
          }
        }
      }
    }
    .insight-switch {
      .user-wrapper {
        .user-details {
          display: flex;
          justify-content: space-between;
          margin: 10px 0px;
          .details-name {
            @include font(Nunito Sans, normal, 600, 16px, #6c757d);
          }
        }
      }
    }
  }
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background: rgba(20, 182, 167, 0.75);
  border: 1px solid rgba(20, 182, 167, 0.4);
  box-shadow: 0px 5px 20px rgba(108, 117, 125, 0.15);
  // border-radius: 15px;
  color: #ffffff;
}
