table {
  border-collapse: collapse;
  font-size: 10px;
  width: 60%;
  margin: 10px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  /* color: black; */
}

table tr:nth-child(even) {
  background-color: rgba(0, 150, 136, 0.05);
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}
